<div class="columns">
  <div class="column is-8 is-centered">
    <%= simple_form_for(@product) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <br>

    <div class="columns">
      <div class="field column is-9">
        <%= f.input :title, required: true, input_html: { class: "input"}, wrapper: false%>
      </div>
      <div class="field column">
        <%= f.input :price, required: true, wrapper: false %>
      </div>
    </div>

    <div class="field">
      <%= f.input :description, required: true, input_html: { class:"textarea" }, wrapper: false%>
    </div>

    <div class="columns">
      <div class="field column is-4">
        <label>Quantity</label>
        <%= f.input_field :quantity, wrapper: false %> 
      </div> 
      <div class="field column is-4">
        <label>Category</label>
        <div class="control has-icons-left">
          <span class="select">
          <%= f.input_field :category, collection: Product::CATEGORY, prompt: "Select category"%>
          </span>
        </div>
      </div>
      <div class="field column">
        <label>Color</label>
        <div class="control has-icons-left">
          <span class="select">
            <%= f.input_field :color, collection: Product::COLOR, prompt: "Select color" %>
          </span>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label>Add images</label>
        <div class="file">
          <label class="file-label">
          <%= f.input :image, as: :file, input_html: { class:"file-input product-image" }, label: false, wrapper: false %>
          <span class="file-cta">
            <span class="file-icon"><i class="fa fa-upload"></i></span>
            <span class="file-label">Choose a file…</span>
          </span>
          </label>
        </div>
      </div>
    </div>
    <hr />
    <div class="field is-grouped">
      <div class="control">
        <%= f.button :submit, class: 'button is-warning' %>
        <%= link_to 'Cancel', products_path, class:'button is-light' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
