<% content_for :header do %>
  <div class="container">
    <h1 class="title">
      Browsing products
    </h1>
  </div>
<% end %>
<hr/>
<br/>
<div class="row">
  <div class="col-md-3">
    <br/>
    <h2>Categories</h2>
    <hr/>
    <% Product.distinct(:category).pluck(:category).each do |category| %>
      <h3 class="fw7 f6 title">
        <%= link_to category, products_path(:category => category) %>
      </h3>
    <% end %>
    <nbsp>
      <hr/>
      <h2>Color</h2>
      <hr/>
      <% Product.distinct(:color).pluck(:color).each do |color| %>
        <h3 class="fw7 f6 title">
          <%= link_to color, products_path(:color => color) %>
        </h3>
      <% end %>
    </nbsp>
  </div>
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(product.image_url(:thumb)), product %>
      </div>
      <div class="caption">
        <h3>
          <%= link_to product.title, product %>
        </h3>
        <p>
          <%= link_to product.description, product %>
        </p>
        <p>
          <b>
            <%= number_to_currency(product.price) %>
            <b></b>
          </b>
        </p>
        <% if user_signed_in? && warden.user.admin == true %>
          <%= link_to 'Edit', edit_product_path(product), class: "button is-small" %>
          <%= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
        <% end %>
      </div>
    </div>
    <nbsp></nbsp>
  <% end %>
</div>
